body {
    background-color: #F5F5F5;
}

.table-container {
   
    padding: 20px;
    background-color: white;
    border-radius: 16px;
    border: solid 1px;
    overflow-x: auto; /* Gerektiðinde yatay kaydýrma çubuðunu göster */
}

table {
    width: 100%;
    max-width: 100rem;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 20px;
    border: solid 1px;
    padding: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.thead-all {
    background-color: slategrey;
    color: white;
}

h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    table {
        font-size: 25px;
    }

    th:not(:first-child):not(:last-child),
    td:not(:first-child):not(:last-child) {
        display: none;
    }

    .btn-group a {
        padding: 15px; /* Butonlarýn boyutlarýný artýrmak için padding deðeri artýrýldý */
        font-size: 18px; /* Butonlardaki ikonlarýn boyutlarýný artýrmak için font-size artýrýldý */
    }

        .btn-group a.btn-warning,
        .btn-group a.btn-danger,
        .btn-group a.btn-info {
            display: inline-block;
        }

            .btn-group a.btn-warning i,
            .btn-group a.btn-danger i,
            .btn-group a.btn-info i {
                display: inline;
            }

            .btn-group a.btn-warning span,
            .btn-group a.btn-danger span,
            .btn-group a.btn-info span {
                display: none;
            }
}

@media screen and (max-width: 386px) {
    table {
        font-size: 20px;
    }
    
    .btn-group a {
        padding: 10px; /* Butonlarýn boyutlarýný artýrmak için padding deðeri artýrýldý */
        font-size: 18px; /* Butonlardaki ikonlarýn boyutlarýný artýrmak için font-size artýrýldý */
    }

}
@media screen and (max-width: 315px) {
    table {
        font-size: 20px;
    }

    .btn-group a {
        padding: 10px; /* Butonlarýn boyutlarýný artýrmak için padding deðeri artýrýldý */
        font-size: 13px; /* Butonlardaki ikonlarýn boyutlarýný artýrmak için font-size artýrýldý */
    }
}

