body {
    background-color: #F5F5F5;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 16px;
    border: solid 1px;
    overflow-x: auto; /* Gerektiðinde yatay kaydýrma çubuðunu göster */
}

table {
    width: 100%;
    max-width: 100rem;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 20px;
    border: solid 1px;
    padding: 20px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.thead-all {
    background-color: slategrey;
    color: white;
}

h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    table {
        font-size: 16px;
    }

    th:nth-child(2), td:nth-child(2),
    th:nth-child(3), td:nth-child(3) {
        display: none;
    }

    .btn-group a {
        padding: 5px;
    }

        .btn-group a.btn-warning {
            display: inline-block;
        }

            .btn-group a.btn-warning i {
                display: inline;
            }

            .btn-group a.btn-warning span {
                display: none;
            }

        .btn-group a.btn-danger {
            display: inline-block;
        }

            .btn-group a.btn-danger i {
                display: inline;
            }

            .btn-group a.btn-danger span {
                display: none;
            }

        .btn-group a.btn-info {
            display: inline-block;
        }

            .btn-group a.btn-info i {
                display: inline;
            }

            .btn-group a.btn-info span {
                display: none;
            }
}
