.card {
    border-radius: 20px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.card-img-top {
    border-radius: 20px;
  
}


.card-title {

    font-size: 1.3rem; 
    height: 3rem; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}
