.card {
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
    transition: box-shadow 0.3s ease-in-out; /* Animasyon için geçiþ efekti */

}
.card-img-top {
    width: 100%; /* Bu, resmin geniþliðini her zaman kartýn geniþliðine sýðacak þekilde ayarlar. */
    height: 500px; /* Bu, resmin orijinal yükseklik/geniþlik oranýný korumasýný saðlar. */
    max-height: 200px; /* Bu, resmin maksimum yüksekliðini belirler. */
    object-fit: contain; /* Bu, resmin belirtilen boyutlarý doldurmasýný ve gerekiyorsa kesilmesini saðlar. */

}

.card-disconnect {
    background: linear-gradient(to right, #f5ab35,#f8dd8c);
    color: white;
}
.connect-orange-button {
    background: linear-gradient(to left, #4bb9e9, #1c76c1); /* Turuncu renk geçiþi */
    color:white;

}
.connect-pink-button {
    background: linear-gradient(to left, #E91E63, #AD1457); /* Parlak pembe'den koyu pembe'ye gradient */
    color: white ; /* Yazý rengini beyaza ayarlar */
}
.connect-pink-button:hover {
    color: white; /* Yazý rengini beyaza ayarlar */
}
.card:hover {
   box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.45); /* Üzerine gelindiðinde gölge efekti deðiþiyor */
}

.card-img-top {
    border-radius: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-title {
    font-size: 1.4rem;
    height: 3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white !important;
   text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
}

.button-container {
    display: flex; /* Flexbox kullanarak iç elemanlarý yatay olarak hizalar */
    align-items: center; /* Elemanlarý dikey olarak ortalar */
    justify-content: space-between; /* Elemanlar arasýnda eþit boþluk býrakýr */
}

.detail-btn {
    margin-right: 0.5rem;
}

.connect-btn {
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
    