body {
    box-sizing: border-box;
}

.full-height {
    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #000080;
    color: white;
    padding-left:1rem;
}


#navbar-title-home {
    flex-grow: 1; /* Başlığın mevcut alanı doldurmasını sağlar */
    text-align: center;
}

#back-icon {
    /* İkon için ekstra stiller buraya eklenebilir */
    display: none; /* JavaScript ile kontrol edilecek */
}

.logo {
    max-width: 160px; /* Maksimum genişlik değeri */
    max-height: 50px; /* Maksimum yükseklik değeri */
    width: 100%; /* Genişliği, ebeveyn elemanına göre ayarla */
    height: auto; /* Yüksekliği, genişliğe oranlı ayarla */
}


#back-icon {
    margin-left: auto; /* Geri ikonunu sağa hizalar */
    cursor: pointer;
    align-items: center;
    margin-left: auto; /* Sağa hizalama */
}


