.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #000080;
    color: white;
    margin: 0;
    width: 100%; /* Tam sayfa genişliği */
    padding: 0 10px;
}

.logo {
    max-width: 160px; /* Maksimum genişlik değeri */
    max-height: 50px; /* Maksimum yükseklik değeri */
    width: 100%; /* Genişliği, ebeveyn elemanına göre ayarla */
    height: auto; /* Yüksekliği, genişliğe oranlı ayarla */
}


    .navbar h4, .navbar h3 {
        flex: 1; /* h4 ve h3 elemanlarının esnekliğini ve genişleyebilirliğini ayarlar */
        text-align: center; /* Metni merkeze hizalar */
        margin: 0; /* Kenar boşluklarını sıfırlar */
    }

#back-icon {
    margin-left: auto; /* Geri ikonunu sağa hizalar */
    cursor: pointer;
    display: flex; /* İkonu görünür yapar */
    align-items: center;
}
