@model Parameter

<div class="text-center">
    <div class="display-6">
        Oluştur
    </div>
</div>

<div class="form-style">
    <form asp-action="Create" method="post" enctype="multipart/form-data">

        <div class="text-danger" asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="MachineId">Makine</label>
            <select asp-for="MachineId" class="form-control" asp-items="ViewBag.Machines"></select>
        </div>

        <div class="form-group">
            <label asp-for="ParameterName">Parametre Adı</label>
            <input asp-for="ParameterName" class="form-control" />
        </div>

        <div class="form-group my-3">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Kaydet
            </button>

            <a asp-action="Index" class="btn btn-warning">
                <i class="fa fa-list"></i>
                Parametreler
            </a>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>