@model MachineDetailsDto

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leadyang CNC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .row {
            align-items: start;
        }

        #uretimSureleriListesi {
            padding-left: 0;
        }

            #uretimSureleriListesi li {
                list-style: none;
            }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2>Kalite Kriter Verisi</h2>
                <div class="pb-5">
                @foreach (var parameter in Model.Parameters)
                {
                    <div>
                        <label>@parameter.ParameterName :</label>
                    </div>
                }
                </div>

                <div class="pt-5" style="width: 450px; height: 300px;">
                    <canvas id="myChart"></canvas>
                </div>
            </div>

            <div class="col-md-6">
                <h2>Üretim Verisi</h2>
                <div>
                    <button id="hazirlikBaslat" class="btn btn-danger mb-2">Hazırlık Başlat</button>
                    <button id="hazirlikBitir" class="btn btn-danger mb-2">Hazırlık Bitir</button>
                </div>
             
                <div>
                    <button id="uretimBaslatDurdur" class="btn btn-danger mb-2">Üretim Başlat</button>
                    <button id="uretimiDurdur" class="btn btn-danger mb-2">Üretimi Durdur</button>
                </div>

                <div class="container mt-5">
                    <h2>Log Kayıtları</h2>
                    <partial name="_MachineLogs" model="Model.MachineLogs" />

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.7.12/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            updateNavbarTitle('@Html.Raw(Model.MachineName)');
        });

        document.addEventListener('DOMContentLoaded', (event) => {
            updateNavbarTitle('@Html.Raw(Model.MachineName)');
            showBackIconAndRedirect(); // Navbar'da geri dönme ikonunu aktif et
        });

        function updateNavbarTitle(machineName) {
            var navbarTitle = document.getElementById('navbar-title');
            if (navbarTitle) {
                navbarTitle.textContent = machineName;
            }
        }
     
    </script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line', // Çizgi grafiği için 'line' tipi kullanılır.
            data: {
                labels: ['Ocak', 'Şubat', 'Mart'], // X ekseni etiketleri
                datasets: [{
                    label: 'Ziyaretçi Sayısı',
                    data: [50, 10, 70], // Y ekseni verileri
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)', // İlk veri noktasının arka plan rengi
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)', // İlk veri noktasının sınır rengi
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true // Y ekseni 0'dan başlar
                    }
                }
            }
        });
    </script>

</body>
</html>
