@model IEnumerable<Machine>
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<div class="container">
    <div class="mt-5 header-container">
        <h3 class="header-style">Makine Seçiniz</h3>
        <partial name="_LoginMenu" ></partial>
    </div>
    <div class="row my-3 justify-content-center">
        @foreach (Machine mchn in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-4 my-3">
                <partial name="_MachineCard" model="@mchn" />
            </div>
        }
    </div>
</div>
