@model IEnumerable<MachineLog>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Makine ID</th>
            <th>Eylem</th>
            <th>Zaman Damgası</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.Id</td>
                <td>@log.MachineId</td>
                <td>@log.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</td>
            </tr>
        }
    </tbody>
</table>
