<!-- _Navbar.cshtml -->
<link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<style>
   
</style>
<div class="full-height">
    <div class="navbar">
        <div>
            <img class="logo" src="~/images/iletisim-yazilim.png" />
        </div>
        <h4 id="navbar-title-home" class="navbar-title">CoralReef Tablet Makine Entegrasyonu</h4>

        <!-- Saati ekleyeceğimiz bölüm -->
        <div id="clock" class="clock"></div>
        <span id="back-icon">
            <i class="fa-solid fa-chevron-left"></i>
        </span>
        
    </div>
</div>

<script>
    // URL kontrolü
    var pathMatch = window.location.pathname.match(/\/Machine\/Get\/(\d+)/);
    if (pathMatch) {
        document.getElementById('back-icon').style.display = 'block';
        document.getElementById('back-icon').addEventListener('click', function () {
            window.location.href = '/';
        });
    } else {
        document.getElementById('back-icon').style.display = 'none';
    }

    // Saati güncelleyen fonksiyon
    function updateClock() {
        var now = new Date();
        var hours = now.getHours();
        var minutes = now.getMinutes();
        var seconds = now.getSeconds();
        minutes = minutes < 10 ? '0' + minutes : minutes;
        seconds = seconds < 10 ? '0' + seconds : seconds;
        var timeString = hours + ':' + minutes + ':' + seconds;
        document.getElementById('clock').textContent = timeString;
    }

    setInterval(updateClock, 1000); // Her saniye saati güncelle
    updateClock(); // İlk yüklemede saati hemen göster
</script>
