<!-- _Navbar.cshtml -->
<link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<div class="full-height">
    <div class="navbar">
        <div>
            <img class="logo" src="~/images/iletisim-yazilim.png" />
        </div>
        <h3 id="navbar-title-home">CoralReef Tablet Makina Entegrasyonu</h3>
        <span id="back-icon">
            <i class="fa-solid fa-chevron-left"></i>
        </span>
    </div>
</div>


<script>
    // URL'i kontrol etmek için window.location.pathName kullanılır
    var pathMatch = window.location.pathname.match(/\/Machine\/Get\/(\d+)/);
    if (pathMatch) {
        document.getElementById('back-icon').style.display = 'block';
        document.getElementById('back-icon').addEventListener('click', function () {
            window.location.href = '/';
        });
    } else {
        document.getElementById('back-icon').style.display = 'none';
    }

    
</script>

