<!-- _Navbar.cshtml -->
<link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />

<div class="full-height">
    <div class="navbar">
        <h1 id="navbar-title-home"></h1>
        <h3 id="navbar-title"></h3>
    </div>
</div>
