@model IEnumerable<OperationLogDto>

<div class="table-div">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>

                <th>Eylem</th>
                <th>Zaman Damgası</th>
            </tr>
        </thead>
        <tbody id="logTableBody">
            @foreach (var log in Model)
            {
                <tr>
                    <td>@log.OperationName</td>
                    <td>@log.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

